---
import BaseLayout from "../layouts/baseLayout.astro"
import '../styles/global.css'
const pageTitle = 'WESTERN TRADES - REMOVE LEAD, MOLD AND ASBESTOS'
---

<BaseLayout pageTitle={pageTitle}>
<div class="main">
    <div class="main-container">
        <div class="main-elements">
            <div class="main-text-h1">
                <h1><span class="bold">KEEPING</span> HOMES, BUSINESSES, COMMERCIAL AND INDUSTRIAL SITES <span class="bold">SAFE</span></h1>
            </div>
            <div class="main-text-h2">
                <h2>Our removal and encapsulation services are for every customer.</h2>
            </div>
            <button id="contact-btn">
                GET IN TOUCH
            </button>
        </div>
    </div>
    <div class="vision-container">
        <div class="vision-elements">
            <h1>Vision</h1>
            <p>At <span class="bold">WESTREN TRADES</span> we are proud to offer lead, mould, and asbestos removal services to Metro Vancouver and the surrounding areas. We also offer encapsulation when removal is not an option for your home, business, or industrial site.</p> 
            <br>
            <p>Our team is composed of trained and certified professionals that provide personalized customer service. We are careful to follow WCB and Environment Canada’s rules and regulations regarding removal of all hazardous material. When you have an issue with hazardous materials, we are quick to respond to correspondence via email or when using the e-form on our contact page. We use some of the best equipment in our industry to tackle everything from hazardous lead found in paint or other substances, asbestos insulation, as well as mould.</p>
        </div>
        
    </div>
    <div class="mission-container">
        <div class="mission-elements">
            <h1>Mission</h1>
            <p>We at <span class="bold">WESTERN TRADES</span> pride ourselves on offering our clients services that are a cut above. We provide personalized, professional customer service on every job that we do and are dedicated to bringing out customers the highest level of service. Our prompt, safe removal process that is certified by AHERA is administered by several crews, ensuring that there is always a crew to come out and work on the hazardous material at your home, business, or industrial site.</p>
        </div>
        
    </div>
    <div class="main-services">
        <div class="main-services-elements">
            <div class="main-services-h1">
                <h1><span class="bold">SERVICES</span> FOR ASBESTOS, MOULD AND LEAD</h1>
            </div>
            <div class="main-services-h2">
                <h2>We offer a number of options that are cutting edge in our industry.</h2>
            </div>
            <button id="services-btn">
                OUR SERVICES
            </button>
        </div>
        
    </div>
    <div class="why-choose-us">
        <div class="why-elements">
            <h1>Why Choose Us</h1>
            <p>We are proud to offer free, no-obligation quotes on all our services.
            Contact Westren Trader. today to book your service for the removal or encapsulation of lead, mould, or asbestos.</p>
            <br>
            <p>We are proud to registered and in good standing with WorkSafe BC. All work will be conducted in accordance with WorkSafe BC Occupational Health & Safety Regulations & Guidelines. All disposal of hazardous materials will be conducted in accordance with the Ministry of Environmental regulations.</p>
            
        </div>
        
    </div>
</div> 
</BaseLayout>
