---
---
<footer>
    <div class="footer-social">
        <img src="" alt="">
        <p>Safe Solutions for Asbestos , Mould and Lead Removal.</p>
        <img src="" alt="X">
        <img src="" alt="Instagram">
    </div>
    <div class="footer-services">
        <ul>
            <li>Removal of Asbestos</li>
            <li>Removal of Mould</li>
            <li>Removal of Lead</li>
        </ul>
    </div>
    <div class="footer-get-in-touch">
        <p>Phone: 604-441-7331</p>
        <p>Email: westerntradesinc@gmail.com</p>
        <p>Address: 13303 central ave Surrey BC V3T0K6</p>
    </div>
    <div class="footer-copyright">
        <p>Copyright 2024 All Right Reserved. WESTERN TRADES. Designed by Kevin Patino</p>
    </div>
</footer>