<div class="nav-links">
    <img id="wt-logo" src="src/resources/logo/wt-logo.png" alt="Western-Trades">
    <a href="/">Home</a>
    <a href="/about/">About Us</a>
    <a href="/services/">Services</a>
    <a href="/contact/">Contact</a>
</div>